.addcard {
  margin-top: 5px;
  border: 6px solid #009688;
  padding: 3px;
}

.text-content {
  width: 100%;
  outline: 0;
  border-width: 0px;
  height: 30px;

  overflow-wrap: break-word;
  overflow: hidden;
  resize: none;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  button {
    font-size: 9px;
    width: 40px;
    padding: 2px;

    cursor: pointer;
  }
}
