.board {
  width: 210px;
  // height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_name {
    font-size: 20px;
    padding-left: 20px;
  }
  margin: 10px;

  cursor: pointer;
  box-shadow: 0 0.9px 1.1px rgba(0, 0, 0, 0.085), 0 7px 9px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 1.3px 2.1px rgba(0, 0, 0, 0.11), 0 10px 17px rgba(0, 0, 0, 0.17);
  }
}
.board_infor {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  // margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid #f2f2f2;

  color: #999;
}

.board_gr {
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  height: 30px;
  // align-self: flex-end;
  // justify-self: flex-end;
  div {
    text-align: center;
    color: purple;
    &:hover {
      background-color: #2196f3;
      color: white;
    }
  }
}

.board_numberofBoard {
  height: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.numberCard {
  width: 35px;
  height: 5px;
  background-color: #009688;
}

.num1 {
  background-color: #009688;
}

.num2 {
  background-color: #e91e63;
}

.num3 {
  background-color: #9c27b0;
}

.board_action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInfor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
