.detail-body {
  display: flex;
  // flex-direction: column;
  width: 100%;
  justify-content: space-around;

  .col-card {
    width: 31%;
  }
}

.shareBoard-detail {
  position: fixed;
  right: 280px;
  top: 10px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  // background-color: red;
}
