.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  background-color: #2196f3;

  color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;

  // font-family: thirsty_script_extrabold_deRg;
}
